@{
    ViewBag.Title = "LivingRoom";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/Content/LivingRoom.css" rel="stylesheet" />
    <script src="jquery-3.5.1.min.js"></script>
    <script>
        $(function () {
            $('div').animate({ opacity: 1 });
        });
    </script>
</head>
<body style="background-image:url('../../Content/Images/bglivingroom.jpg');">

    <div class="hidden-xs grid-container">

        <div>
            <img src="~/Content/Images/fireplace.png" class="img-circle" style="width:50px;height:50px; float:left; margin-top:30px; margin-left:10px;" />
            <br /> <br />
            <text style="font-family:'Eras ITC';font-size:70%; float:left; margin-left:10px;">Fireplace</text>
            <br /><br />
        </div>



        <div>
            <img src="~/Content/Images/air conditioner.png" class="img-circle" style="width:50px;height:50px; float:left; margin-top:30px; margin-left:10px;" />
            <br /> <br />
            <text style="font-family:'Eras ITC';font-size:70%; float:left; margin-left:10px;">Air Conditioner</text>
            <br /><br />

        </div>



        <div>
            <img src="~/Content/Images/tv.png" class="img-circle" style="width:50px;height:50px; float:left; margin-top:30px; margin-left:10px;" />
            <br /> <br />
            <text style="font-family:'Eras ITC';font-size:70%; float:left; margin-left:10px;">TV</text>
            <br /><br />

        </div>

        <div>
            <img src="~/Content/Images/curtains.jpg" class="img-circle" style="width:50px;height:50px; float:left; margin-top:30px; margin-left:10px;" />
            <br /> <br />
            <text style="font-family:'Eras ITC';font-size:70%; float:left; margin-left:10px;">Curtains</text>
            <br /><br />

        </div>

        <div>
            <img src="~/Content/Images/camera.jpg" class="img-circle" style="width:50px;height:50px; float:left; margin-top:30px; margin-left:10px;" />
            <br /> <br />
            <text style="font-family:'Eras ITC';font-size:70%; float:left; margin-left:10px;">Camera</text>
            <br /><br />
        </div>


    </div>


</body>
</html>
