@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/Content/LivingRoom.css" rel="stylesheet" />
    <script src="jquery-3.5.1.min.js"></script>

    <style>
        #LRTable {
            top: 42%;
            left: 12%;
            width: 40%;
            border: 3px solid #6A6663;
            border-collapse: collapse;
            position: absolute;
        }

        td {
            padding: 10px;
            text-align: left;
            color: #6A6663;
            font-family: Eras ITC;
            font-size: 1.2vw;
        }

    </style>

</head>
<body style="background-image:url('../../Content/Images/bgdoors.jpg'); ">

    <span style="font-family:'Eras ITC';font-size:2.8vw; top:15%;left:47%; position:absolute;  text-shadow: 2px 2px 4px #000000;"> <b>Doors</b></span>
    <table id="LRTable">
        <tbody>
            <tr>
                <td>Front Door</td>
            </tr>
            <tr>
                <td>Living Room Door</td>
            </tr>
            <tr>
                <td>Kitchen Room</td>
            </tr>

            <tr>
                <td>Bedroom Door</td>
            </tr>

            <tr>
                <td>Bathroom Door</td>
            </tr>

            <tr>
                <td>Studio Door</td>
            </tr>

            <tr>
                <td>Back Door</td>
            </tr>

        </tbody>
    </table>

</body>
</html>
